.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.linkImg {
  display: block;
  margin-bottom: 12px;

  @media (min-width: 580px) {
    margin-bottom: 16px;
  }
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 1/1;
}

.info {
  flex-grow: 1;

  @media (min-width: 580px) {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;

  @media (min-width: 580px) {
    padding-top: 3px;
    font-size: 16px;
    margin-bottom: 0;
  }
}

.price {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;

  @media (min-width: 580px) {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.btn {
  color: #780096;
  padding: 12px 24px;
  border-radius: 32px;
  border: 1px solid #780096;
  width: 100%;

  &:hover,
  &:focus-visible {
    color: #ffffff;
    background-color: #9200b7;
  }

  &:active {
    color: #780096;
    border-color: #cc00ff;
    background-color: transparent;
  }

  &:disabled {
    opacity: 20%;
    pointer-events: none;
  }
}

.favorites {
  position: absolute;
  top: 12px;
  right: 12px;

  &:hover,
  &:focus-visible,
  &:active {
    color: #780096;

    svg {
      fill: #780096;
    }
  }
}
